streamlit==1.52.2
pandas==2.2.2
numpy==2.1.1
plotly==5.22.0
NewareNDA==2025.10.1
pillow==10.2
kaleido==0.2.1
XlsxWriter==3.2.0
matplotlib==3.10.7
streamlit-theme-switcher==0.4.6
textwrap3==0.10.0